body {
    background-color: #1f1f1f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding-top: 0;
    margin-top: 0;
}

button {
    padding: 7px;
    height: 30px;
    width: 130px;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 2%;
    list-style: none;
}

.quest-small {
    height: 16px;
    width: 6px;
    margin-bottom: -3px;
    margin-right: 2px;
}

.quest-large {
    height: 24px;
    width: 8px;
    margin-bottom: -3px;
    margin-right: 2px;
}

a {
    color: #ffd100;
}

em {
    text-decoration: none;
    font-style: normal;
    color: #ffd100;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

.main {
    position: relative;
    width: 80%;
}

.unfinished-step {
    position: relative;
    border: 1px solid #555;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-right: 10%;
}

.unfinished-step button {
    color: #ddd;
    background-color: #4c6e4c;
    border: 1px solid #72a172;
}

.current-step {
    position: relative;
    border: 1px solid #ddd;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-right: 10%;
}

.current-step button {
    color: #ddd;
    font-weight: bold;
    background-color: #189618;
    border: 1px solid #21d121;
}

.finished-step {
    position: relative;
    border: 1px solid #333;
    color: #888;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-right: 10%;
    background-image: url("img/tick.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right 0px bottom 0px;
}

.finished-step button {
    color: #999;
    background-color: #333;
    border: 1px solid #888;
}